---
import { siteConfig } from "../../config/siteConfig.js";
---

<a
  href={siteConfig.floatingWhatsAppUrl}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Falar com a ATEB Solucoes pelo WhatsApp"
  class="fixed bottom-4 right-4 z-[45] flex h-12 w-12 items-center justify-center rounded-full bg-ateb-lime p-0 text-ateb-dark shadow-[0_18px_35px_rgba(179,209,51,0.28)] transition hover:scale-110 hover:shadow-[0_22px_45px_rgba(179,209,51,0.35)] max-[720px]:right-3"
>
  <svg
    viewBox="0 0 32 32"
    aria-hidden="true"
    class="h-6 w-6 fill-current"
  >
    <path d="M16 3C8.82 3 3 8.69 3 15.71c0 2.48.73 4.79 1.98 6.75L3 29l6.78-1.9A13.1 13.1 0 0 0 16 28.42c7.18 0 13-5.69 13-12.71S23.18 3 16 3Zm0 22.96c-1.93 0-3.8-.51-5.44-1.47l-.39-.23-4.02 1.13 1.18-3.88-.26-.4A10.93 10.93 0 0 1 5.41 15.7c0-5.69 4.74-10.31 10.59-10.31 5.84 0 10.59 4.62 10.59 10.31 0 5.69-4.75 10.26-10.59 10.26Zm5.87-7.77c-.32-.16-1.89-.92-2.18-1.03-.29-.11-.5-.16-.7.16-.21.32-.8 1.03-.99 1.24-.18.21-.37.24-.69.08-.32-.16-1.35-.49-2.57-1.55-.95-.82-1.58-1.83-1.76-2.14-.18-.32-.02-.49.14-.65.15-.15.32-.4.48-.59.16-.19.21-.32.32-.53.1-.21.05-.4-.03-.56-.08-.16-.7-1.67-.96-2.29-.25-.6-.5-.52-.7-.53h-.59c-.2 0-.53.08-.8.4-.27.32-1.04 1-1.04 2.43s1.06 2.81 1.2 3c.13.19 2.08 3.29 5.03 4.61.7.3 1.25.48 1.68.61.71.22 1.35.19 1.86.11.57-.09 1.89-.76 2.16-1.49.27-.73.27-1.35.19-1.49-.08-.13-.29-.21-.61-.37Z" />
  </svg>
</a>
